@import 'tailwindcss';

@theme {
	--color-surf-green: #26554a;
	--color-surf-muted: #424242;
	--color-surf-subtle: #777;
	--font-display: 'Lobster', cursive;
	--font-body: 'Quicksand', sans-serif;
}

@layer base {
	html {
		background: linear-gradient(0deg, #cbddfebf, #a3d1cebf);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
